{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">{{ movie.name }}</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Mass</th>
                <th scope="col">Height</th>
                <th scope="col">Gender</th>
                <th scope="col">Picture</th>
            </tr>
            </thead>
            <tbody>
            {% for character in characters %}
                <tr data-toggle="collapse" data-target="#details-{{ loop.index }}" class="accordion-toggle">
                    <td>{{ character.character.name }}</td>
                    <td>{{ character.character.mass }}</td>
                    <td>{{ character.character.height }}</td>
                    <td>{{ character.character.gender }}</td>
                    <td>
                        {% if character.character.picture %}
                            <img src="{{ asset('uploads/pictures/' ~ character.character.picture) }}" alt="{{ character.character.name }}" class="img-thumbnail" width="100" height="100">
                        {% else %}
                            <p>No picture uploaded</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="hiddenRow">
                        <div class="accordian-body collapse p-3" id="details-{{ loop.index }}">
                            <p><strong>Name:</strong> {{ character.character.name }}</p>
                            <p><strong>Mass:</strong> {{ character.character.mass }}</p>
                            <p><strong>Height:</strong> {{ character.character.height }}</p>
                            <p><strong>Gender:</strong> {{ character.character.gender }}</p>
                            {% if character.character.picture %}
                                <img src="{{ asset('uploads/pictures/' ~ character.character.picture) }}" alt="{{ character.character.name }}" class="img-thumbnail" width="100" height="100">
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
